* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#contacts {
    margin-top: 40px;
    .headd {
        h3 {
            font-size: 28px;
            font-weight: bold;
        }
        p {
            color: #777777;
        }
    }
    .bttn {
        margin-right: 20px;
    }
    .btn {
        padding: 16px 42px;
        font-weight: bold;
    
        border-radius: 5px;
        margin-right: 10px;
     
    }
   
    .second {
        display: flex;
        margin-top: 50px;
        input {

            padding: 15px 40px;
            margin-right: 15px;
            border-radius: 5px;
            border-color: blue;
            border-width: 1px;
        }
        .name {
            position: relative;
        }
        .number {
            position: relative;
        }
        .mail {
            position: relative;
        }
        p {
            color: #777777;
            position: absolute;
            left: 41px;
            top: -10px;
            background-color: #fff;
            padding: 0 10px;
            span {
                color: red;
            }
        }

    }
    .foter {
        margin-top: 20px;
        position: relative;
        textarea {
            border-radius: 5px;
            width: 96%;
            padding-bottom: 15%;
        }
        p {
            color: #777777;
            position: absolute;
            left: 41px;
            top: -10px;
            background-color: #fff;
            padding: 0 10px;
            span {
                color: red;
            }
        }
    }
    .loc {
        margin-left: 35px;
        h4 {
            font-size: 28px;
            font-weight: bold;
        }
        p {
            font-size: 15px;
            color: #777777;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}
#maparea {
    margin-top: 40px;
    margin-bottom: 40px;
    .map {
        iframe {
            border-radius: 10px;
            width: 100%;
        }
    }
}
.head-phone{
    display: none;
}
.phone{
    display: none;
}
@media (max-width:576px){
   .head-phone{
    display: block;
    padding-top: 30px;
   }
   .phone{
    display:block;   

    .side-bar-right{
       

            max-width: 50% !important;
        
        a{
          text-decoration: none;
          color:gray;
          padding-left: 20px;
        }
        li{
          list-style: none;
          font-size: 17px;
          padding-bottom: 30px;
        }
       }
   }  
}




.back-to-top{
    opacity: 0;
    transition: .5s;
    i{
    color: white;
    }
    padding: 12px 16px;
    background-color: blue;
    border-radius: 6px;
    position: fixed;
    bottom: 45px;
    right: 35px;
    z-index: 111;
  }